.containerRessources {
  margin-top: 40px;
  .colCheckbox {
    padding:30px;
    border:1px solid black;
    height: 70vh;
    width: 200px;
    margin-top: 35px;
    margin-right: 70px;
  }
  .rowCheckbox {
    margin-left: 10px;
    width:300px;
  }
  .titleFilter {
  margin-bottom: 20px;
  text-align: center;
  }
}

