.containerRessources {
 
  border-top:4px solid black;
  border-bottom: 4px solid black;
  background-image:url('fond.png');
  background-size: 100%;
  padding-bottom: 40px;


  .colCheckbox {
    padding:30px;
    border:1px solid black;
    width: 200px;
    height: 900px;
    margin-top: 35px;
    margin-right: 70px;
  }
  .rowCheckbox {
    margin-left: 10px;
    width:300px;
  }
  .titleFilter {
  margin-bottom: 20px;
  text-align: center;
  }
}

