.containerHome{
  background-color: rgb(255, 255, 255);
  border-bottom:4px solid black;
  border-top:4px solid black;

  .img-fluid {
    width:100vw;
    height: 65vh;
  }
  h2{
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(4, 42, 255), rgb(30, 99, 228),rgb(255, 255, 255),red,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    font-weight: bold;
    text-align: center;
    margin-top: 2%;
  }
  h3{
    font-weight: bold;
    margin-bottom: 30%;
    font-size: 60px;
  }
  h5{
    color: #FF0101;
    text-align: center;
    font-weight: bold;
    margin-top: 3%;

  }
  p{
    color: #1E1E1E;
    text-align: center;
    word-wrap: break-word;
  }
  .PaddingRow{
    padding-left: 2%;
    padding-right: 5%;
  }
}