.containerHome{
  background-color: rgb(255, 255, 255);
<<<<<<< HEAD

  .img-fluid {
    width:100vw;
  }
=======
  border-top: 2px solid #2D00FF;
  border-bottom: 2px solid #2D00FF;

>>>>>>> a18ff28d9f2888017f6d41e9e4b5dd2ac6d4facc
  h2{
    color: #2D00FF;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
  }
  h3{
    font-weight: bold;
    margin-bottom: 30%;
  }
  h5{
    color: #FF0101;
    text-align: center;
    font-weight: bold;
    margin-top: 3%;

  }
  p{
    color: #1E1E1E;
    text-align: center;
    word-wrap: break-word;
  }
  .PaddingRow{
    padding-left: 2%;
    padding-right: 5%;
  }
}