.containerCitizen{

  h1{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #2D00FF;
  }
  .buttonDev{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
  }
  .CitizenText{
    text-align: justify;
  }
}