.NavBarContainer{
    background-color: white;
    margin-bottom: 40px;
    
    .marginItem{
        margin: 0px 10px 0px 10px;
        padding-top: 30px; 
    }
    .marginHome{
        margin: 0px 10px 0px 10px;
        padding-top: 25px; 
    }
    .dropdown-toggle{
        background-color: transparent !important;
        color: black !important;
        border-color: transparent !important;
        font-weight: bold;
    }
    .nav-link{
        color: black !important;
        font-weight: bold;
    }
    img{
        width: 100px;
        height: 90px;
    }
    ion-icon {
        font-size : 32px ;
     }
     button{
         font-weight: bold;
     }
     .btn-outline-primary {
         color:#2D00FF;
         border-color: #2D00FF;
     }
     .btn-outline-primary:hover {
         background-color:#2D00FF;
     }
}