.NavBarContainer{
    .marginItem{
        margin: 0px 10px 0px 10px;
        padding-top: 10px; 
    }
    .dropdown-toggle{
        background-color: transparent;
        color: black;
        border-color: transparent;
    }
    .nav-link{
        color: black !important;
    }
}