.containerDevelopper{
  // background-color: brown;
  background-image:url('fond.png');
  background-repeat:no-repeat;
  background-size: 100%;
  border-top: 2px solid #2D00FF;
  border-bottom: 2px solid #2D00FF;


  h1{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #2D00FF;
  }
  .buttonDev{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
    

  }
  .DevelopperText{
    // padding-left: 27% !important;
    text-align: justify;
  }
}