.Footer{
    text-align: center;
    background-image:url('fond.png');

    .FooterContainer{
        padding-top: 30px;
        padding-bottom: 30px;
        color:red;

    }
    Col{
        color:red;       
    }
    img{
        width: 25%;
    }
}
